

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.header{
    background-image: url('../resources/developer.png'), url(../resources/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-2
{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
.secondary-bakground{
    background-color: #FFF8F3;
}

/* Nav styles */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 200px;
}

.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    
    font-size: 20px;
}

/* banner style */

.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-paragraph{
    font-size: 18px;
    font-weight: normal;
}
.banner-image
{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 585px;
}

/* Main */
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px 10px 0 10px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.item-title{
    font-size: 20px;
    font-weight: normal;
    color:#757575;
    margin: 0px;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin: 0px 22.5px;
}



/* skills style */
.what-i-do{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin: 130px 0 0 0;
}
.what-i-do-description
{
    color: #757575;
    font-size: 18px;
    margin-top: 18px;
    max-width: 672px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 24px ;
    margin-top: 62px;
}
.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title
{
    font-size: 20px;
    font-weight: bold;
    color:#181818;
    margin-top: 38px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}