

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.header{
    background-image: url('../resources/developer.png'), url(../resources/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-2
{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
.contact-btn{
    background-color: #FFFF;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}
.secondary-bakground{
    background-color: #FFF8F3;
}

/* Nav styles */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:200px;
    margin-right:200px;
}

.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    
    font-size: 20px;
}

/* banner style */

.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-paragraph{
    font-size: 18px;
    font-weight: normal;
}
.banner-image
{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 585px;
}

/* Main */
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px 10px 0 10px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.item-title{
    font-size: 20px;
    font-weight: normal;
    color:#757575;
    margin: 0px;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin: 0px 22.5px;
}



/* skills style */
.what-i-do{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin: 130px 0 0 0;
}
.what-i-do-description
{
    color: #757575;
    font-size: 18px;
    margin-top: 18px;
    max-width: 672px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 24px ;
    margin-top: 62px;
}
.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title
{
    font-size: 20px;
    font-weight: bold;
    color:#181818;
    margin-top: 38px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

/* experience part */

.resume{
    margin-top: 130px;
}
.section-title{
    font-size: 35px;
    color:#181818;
    text-align: center;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-top: 113px;
}
.experience{
    margin-top: 30px;
    align-items: center;
    padding-bottom: 20px;   /* space before the line */
    border-bottom: 1px solid #e0e0e0;  /* light gray underline */

}
.experience:last-child {
    border-bottom: none;
}
.experience-title
{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-sub-title
{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
}
.experience-description
{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
    margin-top: 20px;
}
.resume-container
{
    display: flex;
    gap: 40px;
}
.download-cv
{
    text-align: center;
    margin-top: 50px;
}
/* footer part */

.social-media{
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0px;
    margin-top: 30px;
    width: 120px;
}
.title
{
    font-size: 35px;
    font-weight: bold;
    color:#181818;

}
.left-para{
    margin-top: 20px;
    font-size: 16px;
    color: #474747;
    max-width: 562px;
}
.name , .email {
    display: block;
    width: 461px;
    height: 84px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}

.whole-div
{
    display: flex;
    justify-content: center;
    gap: 117px;
    background-color: #FFF8F3;
    padding-top: 243px;
    padding-bottom: 300px;
    margin-top: 19px;
}
.message{
    width: 461px;
    height: 180px;
}
.submit-btn{
    display: block;
    margin-top: 24px;
}
input::placeholder,
textarea::placeholder{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}
input ,textarea{
    padding-left: 30px;
    padding-top: 18px;
}
